.setting-box {
    padding: 0rem 1rem;
    border: solid 1px #ccc;
    border-radius: 0.8rem;
    box-shadow: 0 0 12px 1px #ccc;
}

.setting-box .setting-order {
    font-size: 1rem;
}

.setting-box .setting-order select {
    outline: none;
    font-size: 1rem;
}

.setting-box .setting-control {
    margin: 0.8rem auto;
}

.setting-box .setting-control button {
    padding: 0.5rem;
    background-color: rgb(50, 115, 240);
    color: #fff;
    border-radius: 0.4rem;
    border: solid 1px #ccc;
    font-size: 0.9rem;
    outline: none;
    box-shadow: 2px 3px 10px 2px #ccc;
}

.setting-box .setting-control button:active {
    box-shadow: 1px 1px 10px 1px #ccc;
}